

<div class="filter-container">
    <button class="filter-button" (click)="toggleFilters()">
        <mat-icon>filter_alt</mat-icon>
        <p>Mostrar Filtros</p>
    </button>
    
    <div class="filters-panel" [class.expanded]="showFilters">
        <form [formGroup]="form">
            <div [ngSwitch]="type">

                <div *ngSwitchDefault>
                    <h4>Tipo de Aula</h4>
                    <div class="custom-radio-group">
                        <mat-radio-group formControlName="classroomType">
                            <div *ngFor="let type of roomTypeOptions" class="option-container">
                                <label class="custom-radio-label" [class.selected]="form.value.classroomType === type.value">
                                    <input type="radio" [value]="type.value" formControlName="classroomType">
                                    <span class="label-text">{{ type.label }}</span>
                                </label>
                            </div>
                        </mat-radio-group>
                    </div>
        
                    <h4>Forma de Pagamento</h4>
                    <div class="custom-radio-group">
                        <mat-radio-group formControlName="paymentType">
                            <div *ngFor="let type of paymentTypeOptions" class="option-container">
                                <label class="custom-radio-label" [class.selected]="form.value.paymentType === type.value">
                                    <input type="radio" [value]="type.value" formControlName="paymentType">
                                    <span class="label-text">{{ type.label }}</span>
                                </label>
                            </div>
                        </mat-radio-group>
                    </div>
        
                    <h4>Status do Contrato</h4>
                    <div class="custom-radio-group">
                        <mat-radio-group formControlName="contractStatus">
                            <div *ngFor="let status of contractStatusOptions" class="option-container">
                                <label class="custom-radio-label" [class.selected]="form.value.contractStatus === status.value">
                                    <input type="radio" [value]="status.value" formControlName="contractStatus">
                                    <span class="label-text">{{ status.label }}</span>
                                </label>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
    
                <div *ngSwitchCase="'contract'">
                    <h4>Status do Contrato</h4>
                    <div class="custom-radio-group">
                        <mat-radio-group formControlName="contractStatus">
                            <div *ngFor="let status of contractStatusOptions" class="option-container">
                                <label class="custom-radio-label" [class.selected]="form.value.contractStatus === status.value">
                                    <input type="radio" [value]="status.value" formControlName="contractStatus">
                                    <span class="label-text">{{ status.label }}</span>
                                </label>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>

                <div *ngSwitchCase="'schedule-classroom'">
                    <h4>Forma de Pagamento</h4>
                    <div class="custom-radio-group">
                        <mat-radio-group formControlName="paymentType">
                            <div *ngFor="let type of paymentTypeOptions" class="option-container">
                                <label class="custom-radio-label" [class.selected]="form.value.paymentType === type.value">
                                    <input type="radio" [value]="type.value" formControlName="paymentType">
                                    <span class="label-text">{{ type.label }}</span>
                                </label>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>