
<mat-list [@listAnimation]="customers.length"> 
  <div *ngFor="let customer of customers" class="list-container">
    <div class="list-item" [ngClass]="shared.getStatusBorderClass(customer.contractStatus)" (click)="onClick(customer)">
      <div class="hour-class">
        <h4>{{customer.name}}</h4>
        <div class="customer-main-info">
          <p class="text">{{ formatText(customer.classroomType) }}</p>
          <p class="text-divider">|</p>
          <p class="text">{{ customer.paymentType | paymentFormato }}</p>
        </div>
      </div>
      <p [ngClass]="shared.getStatusClass(customer.contractStatus)"
         *ngIf="customer.paymentType === null">
        Não Possui Contrato
      </p>
      <p [ngClass]="shared.getStatusClass(customer.contractStatus)"
         *ngIf="customer.paymentType !== null">
        {{ customer.contractStatus | translateContractStatus }}
      </p>
    </div>
  </div>
</mat-list>