
<mat-list [@listAnimation]="customers.length"> 
  <div *ngFor="let customer of customers" class="list-container">
    <div class="list-item" [ngClass]="getStatusBorderClass(customer.contractStatus)">
      <div class="hour-class">
        <p class="text-bold">{{customer.name}}</p>
        <div class="customer-main-info">
          <p class="text">{{formatText(customer.classroomType)}}</p>
          <p class="text">{{customer.paymentType}}</p>
        </div>
      </div>
      <p [ngClass]="getStatusClass(customer.contractStatus)"
         *ngIf="customer.paymentType === null">
        Não Possui Contrato
      </p>
      <p [ngClass]="getStatusClass(customer.contractStatus)"
         *ngIf="customer.paymentType !== null">
        {{ customer.contractStatus | translateContractStatus }}
      </p>
    </div>
  </div>
</mat-list>