<h2>Aulas de hoje</h2>
<mat-list>
    <div *ngFor="let class of todayClasses" class="list-container">
        <div class="list-item">
            <div class="hour-class">
                <h4 class="text-bold">{{formatTime12h(class.startTime)}}</h4>
                <p class="text">{{formatText(class.classroomType)}}</p>
            </div>
            <div class="student-item">
                <p class="text">{{class.studentCount}} Alunos</p>
                <mat-icon class="material-icons-outlined">assignment_turned_in</mat-icon>
            </div>
        </div>
    </div>
</mat-list>

<app-loading-spinner
    [spinnerSize]="80">
</app-loading-spinner>

<app-no-content
    *ngIf="todayClasses.length === 0 && !isLoading"
    [text]="'Sem aulas com alunos no momento.'">
</app-no-content>