mat-card-subtitle {
    font-size: 14px;
}

.summary-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.summary-content {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

mat-card {
  flex: 1 1 300px; // Cresce, encolhe, com mínimo de 300px
  max-width: 48%;  // Para caber dois cartões lado a lado em telas grandes
  box-sizing: border-box;
}

.color-1 {
    color: rgb(37 99 235);
}

.color-2 {
    color: rgb(13 148 136);
}

.color-1, .color-2 {
    font-weight: 700;
}

.background-color-2 {
    background-color: rgb(220, 255, 247);
    border: 1px solid rgba(22, 161, 149, 0.123);
}

.background-color-1 {
    background-color: rgb(239 246 255);
    border: 1px solid rgba(13, 148, 137, 0.11);
}

// Responsivo para telas pequenas
@media (max-width: 600px) {
  mat-card {
    max-width: 100%; // Um por linha em telas pequenas
  }
}
